*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section{
    height: 100vh;
    font-size: 18px;
    display: grid;
    grid-template-areas: 
    'header header header'
    'main main aside'
    'footer footer footer'
    ;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 100px 1fr 100px;
}

header,main,aside,footer{
    background-color: slateblue;
    padding: 20px;
    border: 1px aliceblue solid;
    color: whitesmoke;
}

header{
    grid-area: header;

}
/* nav{
    grid-area: nav;
} */
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

@media (max-width: 768px) {
    section{
        /* display: flex; */
        /* flex-direction: column; */
        grid-template-areas: 'header header header'
        'main main main'
        'aside aside aside'
        'footer footer footer'
        ;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-rows:100px 4fr 200px;
    }
}


